.zone{
    padding: 30px 50px;
    margin: 40px 60px;
    cursor:pointer;
    display: inline-block;
    color: #fff;
    font-size: 2em;
    border-radius: 4px;
    border: 1px solid #bbb;
    transition: all 0.3s linear;
}
