
div{
    background-color: black;
    padding: 10px;
}
i{
    color: white;
    position: relative;
    left:40px;
    top:0px;    
}
a{
    display: inline;
    position: relative;
    top: auto;
    left: 1300px;
    color: white;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }